.header{
    background-color: #282828;
    height: 35%;
    color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 30px;
    max-width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center
}

.center{
    text-align: center;
}

.right{
    text-align: right !important;
}

body{
    font-family: Arial;
    margin: 0;
    max-width: 100%;
}



.image{
    width:50px;
    height:50px;
    border-radius: 50%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    object-fit: cover;
    float: right !important;
    
}

.image:hover {
    top: -10px;
  }

  
.git{
    width: 60px;
    height:60px;
}


@media only screen and (max-width: 600px) {
    body {
      max-width: 100%;
      width: 100%;
    }
  }