.header{
    background-color: #282828;
    height: 35%;
    color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 30px;
    max-width: 100%;
}

.center{
    text-align: center;
}

body{
    font-family: Arial;
    margin: 0;
    max-width: 100%;
}

.image{
    margin-left: 95%;
    width:100px;
    border-radius: 50%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.image:hover {
    top: -10px;
  }

.git{
    margin-left: 95%;
    width:70px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }